
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #a71f71;
    height: 100vh;
}

.navbar {
    height: 70px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2929;
}

.logo {
    font-size: 16px;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.85;
}

.menu-icon {
    display: none;
    font-size: 22px;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.image {
    flex: 1;
    overflow: hidden;
    background-color: #443d3d;
    
}

.image img {
    margin-left: auto;
    margin-right: 30px;
    width: 75%;
    height: 100%;
    object-fit:contain;
    flex: 1;
    display: flex;
    justify-content: center;
    
    
}

.content {
    flex: 1;
    padding: 80px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b131369;
}

.content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.divider {
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    margin: 20px 0 30px;
    display: flex;
    flex-direction: column;
}

.content p {
    font-size: 14px;
    line-height: 1.7;
    max-width: 500px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.page-indicator {
    position: absolute;
    bottom: 25px;
    right: 50px;
    font-size: 12px;
    opacity: 0.8;
}

.about {
    margin-top: 50px;
    text-align: center;
}

.about1 {
    margin-top: 25px;
}

.contact {
    margin-top: 50px;
    text-align: center;
    color: #a71f71;
}
.contact1{
    margin-top:25px;
}
@media (max-width: 900px) {
    .container{
        flex-direction: column;
    }

    .content {
        padding: 32px;
    }

    .content h1 {
        font-size: 52px;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}